<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="Tests/bootstrap.php"
>

    <testsuites>
        <testsuite name="ResponsiveImageBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>
    <filter>
        <whitelist>
            <directory>./</directory>
            <file>ResponsiveImageBundle.php</file>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./docs</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
