{% extends 'admin.base.html.twig' %}

{% block title %}Image Settings{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#styles" data-toggle="tab">Image styles</a></li>
                    <li><a href="#s3sync" data-toggle="tab">S3 images</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="styles">
                        {{ form_start(image_settings_form) }}
                        <div class="box-body">
                            {{ form_widget(image_settings_form) }}
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Save</button>

                        </div>
                        {{ form_end(image_settings_form) }}
                    </div>
                    <div class="tab-pane" id="s3sync">
                        {{ dump(s3_images) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
